.main-container{
  display: grid;
  grid-template-columns: [first] 40px [line2] 10% [line3] auto [line4] 10% [five] 40px [end];
  grid-template-rows: [row1-start] 20% [row1-end] 20px [third-line] auto [last-line];
}
.container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-start: line2;
  grid-column-end: span five;
  grid-row-start: 2;
  grid-row-end: span 2;
}
.cell {
  padding: 10px;
  border: 1px solid #000;
}
.cell:nth-child(odd) {
  background-color: gray;
  color: black;
  font-weight: bold;
}
.gallery__item--1{ 
  grid-column: line2 /span 1;
  grid-row: row1-start;
}
.gallery__item--2{ 
  grid-column: line4 /span 1;
  grid-row: row1-start;
}
.item-center{
  grid-column: line3 /span 1;
  grid-row: row1-start;
}
#item-center > div{
  font-size: 4vw;
  padding: 8px;
}
.gallery__img {
  width: 30;
  height: 100%;
  object-fit: cover;
}