.main-container {
  display: grid;
  grid-template-columns: [first] 10% [second] 15% [line2] 10% [line3] auto [line4] 10% [five] 15% [six]10% [end];
  grid-template-rows: [row1-start] 20% [row1-end] 13.5% [row2-start] 11% [row2-end] 13%[third-line]  auto [ third-line-end]20px [last-line];
  width: 1600px;
  margin: 0 auto;
  height: 600px;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-start: line2;
  grid-column-end: span five;
  grid-row-start: 2;
  grid-row-end: span 2;
  height: 30px;
}

.cell {
  font-size: 2fr;
  border: 1px solid #000;
  text-align: left;
}

.cell:nth-child(odd) {
  background-color: gray;
  color: black;
  font-weight: bold;
}

.gallery__item--1 {
  grid-column: line2 /span 1;
  grid-row: row1-start;
}

.gallery__item--2 {
  grid-column: line4 /span 1;
  grid-row: row1-start;
  margin-left: 0;
}

.item-center {
  grid-column: line3 /span 1;
  grid-row: row1-start;
  font-size: 1vw;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding-top: 10%;
}

.gallery__img {
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.second-container {
  display: inline-grid;
  grid-template-columns: [first] 25% [second] auto [end];
  grid-column-start: line2;
  grid-column-end: span five;
  grid-row-start: 3;
  grid-row-end: span 2;
  height: 30px;
}

.third-container {
  display: grid;
  grid-template-columns: [first]12%[line2] 18% [line3] 60% [line4]10% [end];
  grid-column-start: second;
  grid-column-end: span six;
  grid-row-start: 4;
  grid-row-end: span 1;
  height: 80px;
  width: auto;
}
.third-container-inner {
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: [row1-start] 50%  [row2-start] 50%;
}

.tci-inner-1{
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-third-text {
  font-size: small;
  border: 1px solid #000;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: white;
}
.bg-gray{
  background-color: gray;
}

.bg-white{
  background-color: white;
}

.padding-top-5 {
  padding-top: 10%;
}

.padding-top-2 {
  padding-top: 1%;
}

.course-main-flex{
  display: flex;
  flex-direction: column;
  grid-column-start: second;
  grid-column-end: span six;
}

.course-main-item{
  display: grid;
  grid-template-columns: [first]12% [line2] 88% [end];
}


.course-main {
  display: grid;
  grid-template-columns: [first]12%[line2] 37% [end];
  grid-column-start: second;
  grid-column-end: span six;
}

.course-name{
  font-size: x-small;
  text-align: center;
}

.course-competencia-container{
  display: flex;
  flex-direction: column;
}

.course-competencia-item{
  display: grid;
  grid-template-columns:[first]20.5% [line2] auto [end];
}

.competencia-name{
}

.course-grade-container{
  display: grid;
  grid-column-start: 2;
  grid-template-columns: [first] 21.4% [second] 21.4% [third] 21.4% [fourth] 21.4% [fifth] 14.5% [end];
}


.course-grade{
}

.grades-container{
  display: grid;
  grid-column-start: 4;
  grid-template-columns: [first] 40% [end];
  padding-left: 40%;
}
.grade-item{
  display: flex;
  flex-direction: row;
  grid-column-end: span five;

}
